@page "/crear-libro"
@using AppLibros.Models
@using AppLibros.Repository
@inject IRepository Repository
@inject NavigationManager NavigationManager

<h1 class="text-center">Todos nuestros cursos!</h1>

<h3>Crear Libro</h3>

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-12">
                <h2 class="text-dark">Crear nuevo libro</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <EditForm Model="modeloLibro" OnValidSubmit="@(() => ManejadorOnCrearLibro())">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div class="container">
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <label for="">Titulo: </label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="modeloLibro.Titulo" class="form-control" placeholder="Ingresa el titulo"></InputText>
                            <ValidationMessage For="() => modeloLibro.Titulo"></ValidationMessage>
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <label for="">Descripcion: </label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="modeloLibro.Descripcion" class="form-control" placeholder="Ingresa la descripcion"></InputText>
                            <ValidationMessage For="() => modeloLibro.Descripcion"></ValidationMessage>
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <label for="">Autor: </label>
                        </div>
                        <div class="col-6">
                            <InputText @bind-Value="modeloLibro.Autor" class="form-control" placeholder="Ingresa el autor"></InputText>
                            <ValidationMessage For="() => modeloLibro.Autor"></ValidationMessage>
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <label for="">Paginas: </label>
                        </div>
                        <div class="col-6">
                            <InputNumber @bind-Value="modeloLibro.Paginas" class="form-control" placeholder="Ingresa las paginas"></InputNumber>
                            <ValidationMessage For="() => modeloLibro.Paginas"></ValidationMessage>
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <label for="">Precio: </label>
                        </div>
                        <div class="col-6">
                            <InputNumber @bind-Value="modeloLibro.Precio" class="form-control" placeholder="Ingresa el precio"></InputNumber>
                            <ValidationMessage For="() => modeloLibro.Precio"></ValidationMessage>
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <button type="submit" class="btn btn-success"><span class="oi oi-cog" aria-hidden="true"></span> Guardar</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-info" @onclick="@((() => NavigationManager.NavigateTo("/libros")))"><span class="oi oi-chevron-left" aria-hidden="true"></span> Volver atras</button>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>


@code {
    private Libro modeloLibro = new Libro();
    
    // Metodo para guardar libro en DB
    private async Task ManejadorOnCrearLibro()
    {
        var crearLibro = await Repository.CrearLibro(modeloLibro);
        NavigationManager.NavigateTo("/libros");
    }
}